$icon-font-path: '../fonts/';

// rem font mixin
@mixin rem2px($property, $sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}
@mixin border-radius($radius:.25em) {
  border-radius: $radius;
}

/* VARIABLES */
$lr : #202f55; // bleu LR
$red : #fa4a4a; // rouge LR

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

@import url(https://fonts.googleapis.com/css?family=Coustard|Yanone+Kaffeesatz:400,300);
@import 'cards';
@import 'fullpage';

/* Base css */

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 62.5%;
}
*, *:after, *:before {
  @include box-sizing(border-box);
}
// -webkit-transition: all 0.25s ease-in-out 0s;
// -o-transition: all 0.25s ease-in-out 0s;
// transition: all 0.25s ease-in-out 0s;

body, html {
  height: 100%;
  background-color: $lr;
}

/* Template */
.alert-ie {
  background-color: #e20040;
  color: #fff;
  padding: 15px;
  position: absolute;
  z-index: 2;
  width: 100%;
  a {
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
    &:hover {
      color: #fff;    
    }
  }
}
.hero {
    background-color: $lr;
    background-image: url('../images/bg-hero.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  .hero__content {
    color: #efefef;
  }
  .stick {
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid white;
    display: inline-block;
    position: absolute;
    left: 40px;
    top: 40px;
    width: initial;
    padding: 5px 10px;
    @include rem2px(font-size, 2.2);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 600;
    font-style: italic;
    color: white;
  }
  .logo {
    position: absolute;
    right: 40px;
    top: 40px;
    max-width: 80px;
  }
  h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 300;
    @include rem2px(font-size, 13.7);
    text-transform: uppercase;
    text-shadow: 4px 2px 0 $red;
    span {
      display: block;
      font-family: 'Coustard', serif;
      @include rem2px(font-size, 6.1);
    }
  }
  p {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 300;
    @include rem2px(font-size, 3.3);
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    margin-bottom: 60px;
    &:before, &:after {
      content: ' ';
      height: 3px;
      background-color: #fa4a4a;
      display: inherit;
      position: relative;
      top: -10px;
      left: 0;
      width: 70px;
    }
  }
  .btn-show {
    background: white;
    @include border-radius(0);
    border-bottom: 2px solid $red;
    color: $red;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 400;
    @include rem2px(font-size, 2.5);
    letter-spacing: 1px;
    text-transform: uppercase;

    -webkit-transition: all 0.25s ease-in-out 0s;
    -o-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s;
    &:hover {
      background-color: $red;
      color: white;
      border-color: transparent;
      i {
         -webkit-transform: translate3d(5px,0px,0);
        transform: translate3d(5px,0px,0);
      }
    }
    i {
      -webkit-transition: all 0.25s ease-in-out 0s;
      -o-transition: all 0.25s ease-in-out 0s;
      transition: all 0.25s ease-in-out 0s;
    }
  }
  .perso {
    position: absolute;
    bottom: 40px;
    right: 40px;
    // width: 40%;
    display: none;
  }
  .btn-tools {
    position: absolute;
    bottom: 40px;
    left: 40px;
    ul {
      padding: 0;
      margin: 0;
    }
    li {
      display: inline-block;
      margin-right: 15px;
    }
    i {
      color: white;
      @include rem2px(font-size, 2);
      @include opacity(0.7);
      -webkit-transition: all 0.25s ease-in-out 0s;
      -o-transition: all 0.25s ease-in-out 0s;
      transition: all 0.25s ease-in-out 0s;
      &:hover {
        @include opacity(1);
      }
    }
    #fullscreen {
      @include opacity(0.7);
      -webkit-transition: all 0.25s ease-in-out 0s;
      -o-transition: all 0.25s ease-in-out 0s;
      transition: all 0.25s ease-in-out 0s;
      width: 18px;
      &:hover {
        @include opacity(1);
      }
    }
  }
}
.panini__wrapper {
  // height: 100vh;
}
.panini__body {
  .content-resume {
    margin-bottom: 20px;
    .saison {
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-weight: 300;
      font-size: 33px;
      font-size: 3.3rem;
      text-transform: uppercase;
      display: inline-block;
      width: 100%;
      margin-bottom: 20px;
      &:before, &:after {
        content: ' ';
        height: 3px;
        background-color: #fa4a4a;
        display: inherit;
        position: relative;
        top: -10px;
        left: 0;
        width: 70px;
      }
    }
    .logo-gold {
      background-image: url('../images/logo-lr-gold.png');
      background-repeat: no-repeat;
      height: 263px;
      width: 197px;
      margin: 0 auto;
      -webkit-transition: all 0.2s ease-in-out 0s;
      -o-transition: all 0.2s ease-in-out 0s;
      transition: all 0.2s ease-in-out 0s;
      &:hover {
        background-image: url('../images/logo-lr-gold-2.png');
      }
    }
  }
  h4 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 300;
    @include rem2px(font-size, 13.7);
    text-transform: uppercase;
    text-shadow: 4px 2px 0 $red;
    color: white;
    margin-top: 0;
    line-height: 90px;
    span {
      display: block;
      font-family: 'Coustard', serif;
      @include rem2px(font-size, 6.0);
    }
  }
  p {
    color: white;
    @include rem2px(font-size, 1.4);
  }
  .tc_card {
    .tc_inner_card {
      -webkit-transition: all 0.25s ease-in-out 0s;
      -o-transition: all 0.25s ease-in-out 0s;
      transition: all 0.25s ease-in-out 0s;
      &:hover {
        -webkit-transform: translate3d(0,-10px,0);
        transform: translate3d(0,-10px,0);
      }
    }
    a {
      img {
        -webkit-transition: all 0.25s ease-in-out 0s;
        -o-transition: all 0.25s ease-in-out 0s;
        transition: all 0.25s ease-in-out 0s;
      }
    }
    a:hover {
      text-decoration: none;
      img {
        @include opacity(0.5);
      }
    }
  }
  .img-item {
    position: relative;
    overflow: hidden;
    padding: 10px;
    img {
      position: absolute;
    }
  }
  .overlay-content, .overlay {
    width: 100%;
    height: 100%;
  }
  .overlay-content {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(54,149,255,0.85);
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity 0.3s;
    &:hover {
      opacity: 1;
    }
    .overlay {
      display: table;
    }
    .overlay-item {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      a {
        position: relative;
        display: inline-block;
        color: white!important;
        i {
          color: white;  
        }
      }
    }
  }
  .name_player {
    padding: 0 0 0 50px;
    background-image: url('../images/tshirt.png');
    background-repeat: no-repeat;
    height: 34px;
    h2 {
     @include rem2px(font-size, 1.9);
     color: $lr;
     margin-bottom: 0;
    }
  }
  .more-thumbnails {
    a {
      display: block;
      -webkit-transition: all 0.25s ease-in-out 0s;
      -o-transition: all 0.25s ease-in-out 0s;
      transition: all 0.25s ease-in-out 0s;
      &:hover {
        -webkit-transform: translate3d(0,5px,0);
        transform: translate3d(0,5px,0);
      }
    }
    i {
      margin-top: 20px;
      color: white;
      @include rem2px(font-size, 2.2);
    }
  }
}
.tc_inner_modal {
  h3 {
    color: $red;
    @include rem2px(font-size, 2.6);
    font-weight: 600;
    margin: 0 0 30px 0;
  }
  .content-tip {
    .body-tip {
      background-color: #fafafa;
      padding: 15px;
      border: 1px solid #cdcdcd;
      width: 90%;
      float: left;
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 0;
    }
    .source-link {
      padding: 0;
    }
    .share-tip {
      width: 10%;
      float: left;
      ul {
        padding: 0;
      }
      li {
        display: block;
        a {
          padding: 0;
          display: inline-block;

          -webkit-transition: all 0.25s ease-in-out 0s;
          -o-transition: all 0.25s ease-in-out 0s;
          transition: all 0.25s ease-in-out 0s;
          &:hover {
            @include opacity(0.8);
          }
        }
      }
    }
  }  
}
.modal-backdrop {
  background-color: rgba(54,149,255,1);
  background-image: url('../images/bg-modal.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &.in {
    @include opacity(1);
  }
}
.modal-content {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 992px) {
  .hero {
    .perso {
      display: block;
    }
  }
}
@media screen and (max-width: 426px) {
  .panini__body {
    h4 {
      @include rem2px(font-size, 9.4);
          line-height: 1.1;
      span {
        @include rem2px(font-size, 4.2);
      }
    }
    .content-resume {
      .saison {
        &:before, &:after {
          width: 20px;
        }
      }
      p {
        margin-top: 40px;
      }
      .logo-gold {
        margin-top: 40px;
        margin-bottom: 20px;
        &:hover {
          background-image: url('../images/logo-lr-gold.png');
        }
      }
    }
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .hero {
    .stick {
      left: 20px;
      top: 20px;
      @include rem2px(font-size, 1.6);
    }
    .logo {
     right: 20px;
     top: 20px; 
    }
    .btn-tools {
     left: 20px;
     bottom: 20px; 
    }
    h1 {
      @include rem2px(font-size, 9.3);
    }
    h1 span {
      @include rem2px(font-size, 4.3);
    }
    p {
      margin-bottom: 20px;
    }
    p:before, p:after {
      width: 28px;
    }
  }
  .panini__wrapper {
    .content-resume > div {
      text-align: center!important;
      img {
        margin-bottom: 20px;
        margin-top: 20px;
      }
    }
  }
}