
<div class="modal-body">
  <div class="container">
    <div class="row">
        <div class="more-infos text-center">
          
            <div class="col-md-6">
              <img src="#" alt="perso" />
            </div>
            <div class="col-md-6">
              <h3>27 juin 1972</h3>
              <h2>Signature du Programme commun,<br/> la gauche en ordre de marche !</h2>
              <p>
                En juin 1972, le Parti socialiste de François Mitterrand et le Parti communiste de Georges Marchais, rejoints plus tard par le Radical Jean-Jacques Servan-Schreiber signent le Programme commun, en prévision des élections législatives de 1973.
              </p>
            </div>          
        </div>
    </div>
  </div>
</div>

